.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: auto;
}

#topo {
	background-color:#B2AA86;
	background-size:900px;
	margin:auto;
	width:auto;
	height:80px;
}

#conteudo {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

h3{
  font-family:'Lucida Sans', sans-serif;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  font-family:'Lucida Sans', sans-serif;
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}