.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: auto;
}

#topo{
	background-color:#B2AA86;
	background-size:900px;
	margin:auto;
	width:auto;
	height:80px;
}

#conteudo{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

h3{
  font-family:'Lucida Sans', sans-serif;
}